In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
sns.set_theme(style="whitegrid")

In [2]:
df = pd.read_csv('data.csv')
df.sort_values(by=['Average'],ascending=False, inplace=True)
df.drop(df.tail(3).index,inplace=True)
df.tail()

,Name,Brewery,Adam,Dad,Alan,Dave,Fi,Average,Std,Style,Abv,Hops,Grains,IBU
81,Scotch Ale,Black Isle,6.0,4.5,4.0,9.0,6.0,5.9,1.95,Scotch Ale,6.80%,NaN,NaN,NaN
57,Honeydew,Fuller's,6.0,5.5,7.0,5.0,6.0,5.9,0.74,Golden Ale,5.0%,First Gold,Pale,5.0
51,Funky Money,Frome,4.5,6.0,5.0,7.5,6.0,5.8,1.15,Pale Ale,4.0%,Idaho;Citra;Mosaic,NaN,NaN
68,Azacca,Lerwick,5.0,5.5,5.5,7.0,6.0,5.8,0.76,IPA,6.5%,Azacca;Amarillo,NaN,NaN
54,Prodigal Sun,Frome,3.5,4.0,6.0,7.0,7.0,5.5,1.66,Pale Ale,5.2%,Amarillo,NaN,NaN

Find all hops

In [3]:
hopsCount = {}; hopsTotal = {}; hopsAvg = {}
for index, row in df.iterrows():
    if type(row['Hops']) == str:
        for hop in row['Hops'].split(';'):
            hopsCount[hop] = hopsCount[hop] + 1 if hop in hopsCount.keys() else 1
            hopsTotal[hop] = hopsTotal[hop] + row['Average'] if hop in hopsTotal.keys() else row['Average']

for k in hopsCount.keys():
    if hopsCount[k] >= 2:
        hopsAvg[k] = round(hopsTotal[k] / hopsCount[k], 2)

hopsAvg = dict(sorted(hopsAvg.items(), key=lambda item: item[1], reverse=True)); hopsAvg

{'Simcoe': 7.6,
 'Herkules': 7.5,
 'Chinook': 7.47,
 'Ekuanot': 7.45,
 'Liberty': 7.4,
 'Styrian Goldings': 7.38,
 'Mosaic': 7.34,
 'Columbus': 7.33,
 'Willamette': 7.33,
 'Magnum': 7.32,
 'Mittlefruh': 7.3,
 'Saaz': 7.28,
 'Challenger': 7.24,
 'Target': 7.2,
 'Cascade': 7.19,
 'Citra': 7.15,
 'Rakau': 7.1,
 'Goldings': 7.09,
 'Fuggles': 7.07,
 'Wakatu': 7.0,
 'Waimea': 7.0,
 'Azacca': 6.97,
 'Equanot': 6.9,
 'Mount Hood': 6.85,
 'Mittelfruh': 6.75,
 'Amarillo': 6.56,
 'First Gold': 6.52}

In [4]:
hopsCount = dict(sorted(hopsCount.items(), key=lambda item: item[1], reverse=True)); hopsCount

{'Cascade': 16,
 'Citra': 11,
 'Goldings': 9,
 'Challenger': 8,
 'Columbus': 7,
 'Mosaic': 7,
 'Styrian Goldings': 6,
 'Fuggles': 6,
 'Magnum': 6,
 'Chinook': 6,
 'Simcoe': 5,
 'Amarillo': 5,
 'Saaz': 5,
 'First Gold': 5,
 'Liberty': 3,
 'Willamette': 3,
 'Azacca': 3,
 'Rakau': 3,
 'Target': 2,
 'Ekuanot': 2,
 'Mittlefruh': 2,
 'Herkules': 2,
 'Equanot': 2,
 'Wakatu': 2,
 'Waimea': 2,
 'Mount Hood': 2,
 'Mittelfruh': 2,
 'Tettnang': 1,
 'Northdown': 1,
 'Hallertau Blanc': 1,
 'Jester': 1,
 'Lubelski': 1,
 'Eureka': 1,
 'Enigma': 1,
 'Green Bullet': 1,
 'Pacifica': 1,
 'NZ Cascade': 1,
 'OZ Cascade': 1,
 'Admiral': 1,
 'Lubliner': 1,
 'Sovereign': 1,
 'Progress': 1,
 'Centennial': 1,
 'Nelson Sauvin': 1,
 'Contennial': 1,
 'Yellow Sub': 1,
 'Sybilla': 1,
 'Northern Brewer': 1,
 'Hallertau': 1,
 'Pacific Gem': 1,
 'Apollo': 1,
 'Madarina Bavaria': 1,
 'Huell Melon': 1,
 'Sabro': 1,
 'Pilgrim': 1,
 'Comet': 1,
 'Endeavour': 1,
 'Idaho': 1}

In [5]:
Beers = []
SeachHop = 'Amarillo'
for index, row in df.iterrows():
    if type(row['Hops']) == str:
        for hop in row['Hops'].split(';'):
            if hop == SeachHop:
                Beers.append(row['Name'] + ' (' + row['Brewery'] + ')')
                
Beers

['Santo (Siren)',
 'Hurricane Jack (Fyne)',
 "Take 5 (Wood's)",
 'Azacca (Lerwick)',
 'Prodigal Sun (Frome)']